/*
*
{
	border: 5px solid pink;
}
*/

:root
{
	--#FFC0CB : rgb(255,192,203);
}
body
{
	text-align: center;
	color: rgb(255,192,203;
	list-style-position: inside;
	background-color:  rgb(255, 255, 191;
}
header
{
	font-family: 'Copperplate', Monospace;
	background-color:  rgb(255, 192, 203);
	border: 10px dashed rgb(255, 255, 191);
	margin: 10px 100px;
}
header h1
{
	font-size:  100pt;
	margin-top:  10px;
	margin-bottom: 0;
}
header h2
{
	font-size:  30pt;
	color: var(--Purple);
	font-variant: large-caps;
}
main h1
{
	font-size:  70pt;
	font-family: 'Copperplate', Monospace;
	margin: 0;
}
h1+h2
{
	margin-top: -15px;
}
main h2
{
	text-decoration: underline;
	font-weight: bold;
	margin-bottom: 0;
}
main ul
{
	display:  table;
	margin: 0 auto;
	text-align:  left;
	/*padding-left: 2px;*/
}
{
	font-size: 25pt;
	float:  left;
}
